body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(172, 169, 169);
}

.title,
.paragrafo_2,
.paragrafo_3 {
    text-align: center;
}

.paragrafo_1 {
    text-align: justify;
    font-size: 20px;
    color: rgb(29, 93, 148);
}